@import url("https://fonts.googleapis.com/css2?family=family=Mooli&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

:root {
 --primary-color: #52489c;
 --secondary-color: #59c3c3;
 --accent-color: #f45b69;
 --text-dark: #333;
 --text-light: #ebebeb;
 --primary-font: Arial, Helvetica,sans-serif;
 --secondary-font: "Mooli", san-serif;
}
/* this is 3 columns */
body {
    font-family: var(--primary-font);
    font-size: 1.2em;
    }
  a:link,
  a:visited {
    color: var(--accent-color);
  }
  img {
	max-width: 100%;
    width: 300px;
}
div#cw{
    font-family: var(--secondary-font);
    font-size: 100px;
}
header {
    background-color: var(--primary-color);
    color: var(--text-light);
    padding: 20px;
    text-align: center;
    font-family: var(--secondary-font);
}
footer {
    background-color: var(--primary-color);
    color: var(--text-light);
    padding: 20px;
    text-align: center;
    font-family: var(--secondary-font);
}
@media screen and (max-width: 700px) { /*changing to 1 column for photo galary */
    body {
        font-size: 1.5em;
    }
    header {
        font-size: 1.5em;
    }
    footer {
        font-size: 1.5em;
    }
}
@media screen and (max-width: 1000px) /*changing to 2 columns for photo galary */